name: Generate ASCII Artwork

on: push

jobs:
    ascii_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repo
          uses: actions/checkout@v4
         
        - name: Install Cowsay Program
          run: sudo apt-get install cowsay -y

        - name: Executing Shell Script
          run: ./ascii-script.sh

        - name: List Repo Files
          run: ls -ltra